$body-bg: #F5F5F5;
$form-height: 3.8rem;
$form-border: #B2C4D2;
$form-input-bg: #fff;
$form-input-color: #B2C4D2;
$form-input-color-disabled: #C5C5C5;
$form-close-icon-color: #B2C4D2;
$form-close-icon-size: 1.5rem;
$form-button-bg: #e4581e;
$form-button-bg-disabled: #C5C5C5;
$form-button-color: #fff;
$form-border-disabled: #C5C5C5;
